@model IEnumerable<QuizApp.Models.Quiz>

@{
    ViewData["Title"] = "Quiz";
}

<h1>Quiz</h1>
<strong>Score: </strong><span>10/10</span>
@foreach (var item in Model) {
    <h2>@item.Question</h2>
    <form asp-action="CheckAnswer" method="get">
        <input hidden name="id" value="@item.Id" />
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" value="@item.Answer">
            <label class="form-check-label">
                @item.Answer
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" value="@item.Incorrect1">
            <label class="form-check-label">
                @item.Incorrect1
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" value="@item.Incorrect2">
            <label class="form-check-label">
                @item.Incorrect2
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" value="@item.Incorrect3">
            <label class="form-check-label">
                @item.Incorrect3
            </label>
        </div>
        <input type="submit"/>
    </form>
}
<h2></h2>