@model QuizApp.Models.Quiz

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Quiz";
    Random rnd = new Random();

    HttpContext Current = HttpContextAccessor.HttpContext;
    string baseUrl = $"{Current.Request.Scheme}://{Current.Request.Host}";

}


<h1>Quiz</h1>
<strong>Score: </strong><span id="score">@HttpContextAccessor.HttpContext.Session.GetInt32("Points")</span>/10

@{
    string[] options = {
            Model.Answer,
            Model.Incorrect1,
            Model.Incorrect2,
            Model.Incorrect3
        };

    options = options.OrderBy(o => rnd.Next()).ToArray();
}
<h2>@HttpContextAccessor.HttpContext.Session.GetInt32("TotalQuestionServed"). @Model.Question</h2>
<div class="btn-group-toggle row" id="oprionGroup" data-toggle="buttons">

    <label class="btn btn-info btn-lg btn-block col m-2">
        <input type="radio" id="option1" name="option" value="@options[0]" autocomplete="off"> @options[0]
    </label>
    <label class="btn btn-info btn-lg btn-block col m-2">
        <input type="radio" id="option2" name="option" value="@options[1]" autocomplete="off"> @options[1]
    </label>
    <div class="w-100"></div>
    <label class="btn btn-info btn-lg btn-block col m-2">
        <input type="radio" id="option3" name="option" value="@options[2]" autocomplete="off"> @options[2]
    </label>
    <label class="btn btn-info btn-lg btn-block col m-2">
        <input type="radio" id="option4" name="option" value="@options[3]" autocomplete="off"> @options[3]
    </label>
</div>
<a id="btnCheck" class="btn btn-primary btn-lg btn-block" onclick="checkResult(@Model.Id, '@baseUrl')">Check</a>