@model QuizApp.Models.Quiz

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Quiz";
    Random rnd = new Random();

}

<h1>Quiz</h1>
<strong>Score: </strong><span>@HttpContextAccessor.HttpContext.Session.GetInt32("Points")/10</span>

@{ 
    string[] options = {
            Model.Answer,
            Model.Incorrect1,
            Model.Incorrect2,
            Model.Incorrect3
        };

    options = options.OrderBy(o => rnd.Next()).ToArray();
}
    <h2>@Model.Question</h2>
    <form asp-action="CheckAnswer" asp-controller="Quiz" method="get">
        <input hidden name="id" value="@Model.Id" />
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" value="@options[0]">
            <label class="form-check-label">
                @options[0]
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" value="@options[1]">
            <label class="form-check-label">
                @options[1]
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" value="@options[2]">
            <label class="form-check-label">
                @options[2]
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="option" value="@options[3]">
            <label class="form-check-label">
                @options[3]
            </label>
        </div>
        <input type="submit" value="Check" />
    </form>
